

/*** styling for elements within the container ***/

.jumbotron {
    background-image: url("../assets/pizza.png");
    background-size: cover;
    background-position: right;
}

.jumbotron > h1 {
    background-color: white;
    opacity: 75%;
    text-align: center;
}
