/*
just spacing at the top with these lines
*/

body {
    background-color: #EAEAEA;
    background-image: url("https://www.logolynx.com/images/logolynx/42/42ebb2326c1e1b0515348e7b1a1c9e18.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.fancy-header {
    color: #6E3CBC;
    font-family: 'Oswald', serif;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: #7267CB;
    font-family: 'Oswald', serif;
    font-weight: 400;
    text-decoration: underline;
}

li {
    list-style: square;
}

.plans-and-pricing {
    text-align: center;
}

.plans-and-pricing th {
    font-weight: bold;
}

a:link {
    color: #7267CB;
}

a:hover {
    color: #98BAE7;
}

a:visited {
    color: #B8E4F0;
}

a:active {
    color: #CD1818;
}