.container {
    margin: 2em;
}

.header {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

#contact {
    text-align: center;
}

hr.separator {
    border-top: 5px solid green;
    opacity: 50%;
}

h4 {
    color: dodgerblue;
    font-weight: bold;
}

.content {
    margin: 1em 0;
}